header {
    border-bottom: 1px $clr2 solid;
    padding-block: 10px;
    padding-inline: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
    width: 100%;
    z-index: 20;
    
    // .sticky{
    //     top: 0;
    // }
    // .atHome {
    //     position: fixed;
    //     background-color: transparent;
    //     background-color: yellow;
    //     border: none;
    // }

    // .atExplore {
    //     position: relative;
    //     background-color: white;

    // }

    .loggedin-user {
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;

        span {
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
    }

    nav {
        padding: 5px 0;
    }

    nav>* {
        padding: 10px;
        margin: 10px;
    }

    nav .active {
        color: $clr3;
    }

    .join {
        border: 1px solid $clr3;
        color: $clr3;
        border-radius: 10%;
    }

    .join:hover {
        background-color: $clr3;
        color: white;
        transition: 0.5s;
    }

    .logo {
        max-width: 100px;
    }

    .hamburger {
        display: none;
    }

}

.atExplore {
    position: relative;
    background-color: white;
}
.atHome {
    position: fixed;
    background-color: transparent;
    border: none;
    // &.scrolled{
    //     background-color: white;
    //     border-bottom: 1px gray solid;
    // }
}



@media (max-width: 600px) {
    header> :nth-child(3) :not(:last-child) {
        display: none;
    }

    header> :nth-child(3) :last-child {
        color: $clr2;
        border: none;
    }

    header {
        border: none;

        .hamburger {
            display: block;
            cursor: pointer;
            padding: 10px;
            align-self: flex-end;
        }
    }
}