header {
    border-bottom: 1px rgb(199, 197, 197) solid;
    padding-block: 10px;
    padding-inline: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
    width: 100%;
    z-index: 20;

    
    .loggedin-user {
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;

        span {
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
            object-fit: cover;
        }
        border: none !important;
    }

    nav {
        padding: 5px 0;
    }

    nav>* {
        // padding: 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr3;
    }

    .join {
        border: 1px solid $clr3;
        color: $clr3;
        border-radius: 10%;
        margin-inline-end: 0;
        padding: 7px 20px;
    }

    .join:hover {
        background-color: $clr3;
        color: white;
        transition: 0.5s;
        border: 1px solid $clr3;
    }

    .logo {
        max-width: 100px;
    }

    .hamburger {
        display: none;
    }

    .white-links > * {
        color: white;
    }

    .white-links > :last-child {
        border: 1px solid white;
    }

    .white-links > :last-child:hover {
        border: 1px solid $clr3;
    }

}

.atExplore {
    position: relative;
    background-color: white;
    padding-block: 30px;
    .join {
        padding: 10px 16px;
    }
}
.atHome {
    position: fixed;
    background-color: transparent;
    border: none;
    transition: 0.5s;
    padding-block: 25px;
}



@media (max-width: 600px) {

    header {
        border: none;

        .hamburger {
            display: block;
            cursor: pointer;
            // padding: 10px;
            // align-self: ;
        }

        > :last-child :last-child {
            color: $clr2;
            border: none;
            padding-inline: 0;
        }

        > :nth-child(3) , > :last-child :not(:last-child) {
            display: none;
        }
    }
}
