.alert {
    background-color: rgb(243, 243, 243);
    border: 1px solid $clr5;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(228, 226, 226);
    position: absolute;
    bottom: 30px;
    left: -200px;
    padding: 1em;
    font-weight: 700;
    z-index: 100;
    transition: 0.4s;
    padding-left: 40px;
    
    &.alert-success {
        transform: translateX(250px);
        transition: 0.7s;

        &::before {
            content: '';
            position: absolute;
            left: 10px;
            top: 0;
            bottom: 0;
            width: 20px;
            background: url("@/assets/svg/success.svg") center / contain no-repeat;
        }
    }
    
    &.alert-error {
        transform: translateX(250px);
        transition: 1s;
        &::before {
            content: '';
            position: absolute;
            left: 10px;
            top: 0;
            bottom: 0;
            width: 20px;
            background: url("@/assets/svg/error.svg") center / contain no-repeat;
        }
    }
}