.user-details-page {

    background-color: #f7f7f7;
    flex: 1;

    > :nth-child(2) {
        flex-shrink: 2;
    }

    .user-details-section {
        >:first-child {
            background-color: white;
            align-items: center;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid $clr5;
        }
    }

    .personal-user- {
        flex-shrink: 1;
        flex-basis: 45%;
        max-width: 395px;
        min-width: 250px;
    }

    padding: 32px;
    gap: 30px;

    .order-table-container {
        margin-inline: auto;

        .el-table__header-wrapper {
            :last-child {
                // background-color: #193327;
            }
        }

        .el-table thead {
            >* :last-child {
                >* {
                    text-align: center;

                }
            }
        }
    }

    .add-btn {
        width: 170px;
        height: 40px;
        text-align: center;
        line-height: 2.4;
    }

    .add-btn-small {
        width: 140px;
        height: 30px;
        text-align: center;
        line-height: 2;
        font-size: 15px;
    }


    .hide-detail {
        display: none;
    }

    .user-details-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        align-self: center;
        object-fit: cover;
    }

    .seller-info {
        align-items: center;
        gap: 0px;

        p:nth-child(2) {
            font-size: 14px;
        }

        .mini-username {
            font-size: 20px;
        }
    }

    .about-seller {
        max-width: 410px;
        border: 1px solid $clr5;
        padding: 32px;
        background-color: white;

        button {
            width: 100%;
            margin: 0;
        }
    }



    .seller-data {
        font-size: 15px;
        flex-direction: column;
        margin: 0;
        padding-bottom: 0;
        border: none;

        >* {
            flex-direction: row;
            padding: 0;
            max-height: 25px;
            // :not(:last-child) {
            margin-bottom: 5px;
            // }

            >* {
                width: 100%;
            }
        }

    }

    .gig-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .gig-preview {

        .preview-card,
        .li-bottom {
            background-color: white;
        }
    }

    .mini-user-info {
        flex-direction: column;
        border-bottom: 1px solid $clr5;
    }

    .seller-desc {
        border: none;
        padding: 0;
        padding-top: 8px;

        p {
            font-size: 14px;
        }

        h3 {
            font-size: 14px;
            align-self: center;
            justify-self: center;
            max-width: fit-content;
        }
    }

    .order-table {

        // min-width: 900px;

        .cell {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
            object-fit: cover;
        }

        .order-img {
            border-radius: 12px;
            object-fit: scale-down;
        }


        .table-btn {
            border-radius: 5px;
            min-width: 80px;
            padding: 3px;
            border: 0;
        }

        .progress-btn {
            background-color: #ffbe5b;
        }

        .rejected-btn {
            background-color: rgb(199, 4, 4);
        }
     
    }

    .create-new-gig {
        align-items: center;
        justify-content: center;
        border: 1px solid $clr5;
        height: 484px;
        width: 100%;
        gap: 10px;
        background-color: white;
    }

    .create-gig-img {
        width: 252px;
    }

    .btn {
        background-color: $clr3;
        color: white;

        &:hover {
            background-color: #14a762;
        }
    }

    @media (max-width: 1200px) {
        .gig-list {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 16px;

        }
    }
}
.order-dropdown{
    gap: 10px;
    padding: 10px;
    >*{
        padding-inline: 10px !important;
        max-height: 20px;
        color: white !important;
        text-align: center;
    }
}
    .table-btn {
        border-radius: 5px;
        min-width: 80px;
        padding: 3px;
        border: 0;
        &:hover{
            background-color: #5f5e5d ;
        }
    }

    .progress-btn {
        background-color: #ffbe5b;
        &:hover{
            color: #f7f7f7 !important;
            background-color: #ebab4d !important;
        }
    }
    .green-btn{
        
        &:hover{
            color: #f7f7f7 !important;
            background-color: $clr3 !important;
        }
    }
    
    .rejected-btn {
        background-color: rgb(199, 4, 4);
        &:hover{
            color: #f7f7f7 !important;
            background-color: rgb(141, 2, 2) !important;
        }
    }

.income-table {
    border: 1px solid $clr5;
    list-style: none;
    padding-block: 25px;
    margin-bottom: 30px;
    margin-inline: 0px;
    padding-inline: 0px;

    p {
        color: rgb(158, 158, 158);
        font-size: 14px;
    }

    h3 {
        font-size: 24px;
        color: #323336;
    }

    >* {
        flex: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        padding-inline: 20px;
    }

    >*:not(:last-child) {
        border-inline-end: 1px solid $clr5;
    }
}

.user-details-header-container {
    border-bottom: 1px solid $clr5;
    background-color: white;
}

.user-details-main-container {
    background-color: #f7f7f7;
}

.user-details-header {
    height: 50px;
    width: 100%;
    padding-inline: 32px;
    gap: 15px;

    button {
        background-color: transparent;
        color: $clr1;
        font-size: 18px;
        padding-inline: 2px;

        &:hover {
            color: rgb(49, 48, 48);
        }
    }

    .active {
        box-shadow: inset 0 -3px $clr3;
        color: #323336;
    }
}