.user-details-page {

    padding: 30px;

    .about-h3 {
        display: none;
    }

    .about-seller {
        width: 420px;
        border: 1px solid gray;
        padding: 25px;
    }

    .user-details-img {
        width: 150px;
        height: 150px;
        align-self: center;
        object-fit: cover;
    }

    .mini-user-info {
        flex-direction: column;
    }

    .seller-data {
        border: none;
    }

    .seller-desc :nth-child(2) {
        width: 100%;
    }
}