.search-button {
    width: 100px;
    color: white;
    background-color: $clr3;
    padding: 15px;
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
}

.search-button:hover {
    background-color: #16995c;
}

.search-input {
    width: 550px;
    border: 1px solid rgba(199, 199, 199, 0.534);
    border-right: none;
    outline: 0;
    border-end-start-radius: 5px;
    border-start-start-radius: 5px;
    padding-inline: 35px;
    font-size: 1rem;
}

.search-container {
    max-width: 650px;
    position: relative;
}

.search-container::before {
    content: "";
        position: absolute;
        left: 10px;
        top: 0;
        bottom: 0;
        width: 20px;
        background: url("@/assets/svg/search.svg") center / contain no-repeat;
    }

.filter-tags {
    gap: 10px;
}

.filter-tags>* {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 8px;
    cursor: pointer;
}
