.gig-edit {
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 32px;
    flex: 1;

    form {
        >* {
            width: auto !important;
        }
    }

    input {
        color: rgb(56, 56, 56);
        width: 300px;
    }

    position: relative;

    button {
        width: 200px;
    }

    .add-gig-container {
        background-color: white;
        padding-inline: 32px;
        padding-block: 22px;
        border-radius: 7px;
        border: 1px solid $clr5;
        align-items: center;

        .add-gig-inside-container {
            align-items: center;

            >*:not(button) {
                width: 100%;
                justify-content: space-between;
            }
        }
    }

    .svg-upload {
        width: 100px;
        height: 50px;
    }

    .drag {
        color: lightgray;
    }

    .drag-zone {
        outline: 2px dashed lightgray;
    }
}