.gig-edit {
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 32px;

    .add-gig-container {
        background-color: white;
        padding: 32px;
        border-radius: 7px;
        border: 1px solid $clr5;
        align-items: center;

    }
}