.hero-title {

    .header-title {
        font-size: 2.5rem;
        color: white;
        z-index: 10;
        position: relative;
    }

    .hero-grid {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        padding:  60px 30px 48px;
        flex-direction: column;
        line-height: 48px;

        .img-names{
            position: absolute;
            right: 30px;
            bottom: 0;
            color: white;
        }
    }

    .popular-tags>* {
        color: white;
        font-size: 14px;
        padding: 5px 12px ;
        margin-inline-start: 12px;
        border-radius: 40px;
        border: 1px solid white;
    }

    .popular-tags >*:hover {
        color: black;
        background-color: white;
        transition: 0.5s;
    }

    .popular-tags-container>* {
        color: white;
        
    }



    .courgette{
        font-family: courgette;
        font-weight: 300;
    }
}
.el-carousel-hero{
    width: 700px;
    height: 700px;
    overflow: hidden;
}