* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr2;
    color: $clr6;
}

html {
    // font-family: montserrat;
    // line-height: 1.6;
    color: $clr2;
    font-family: macan;
}

body {
    // font-size: rem(18px);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: caveat;
    margin: 0 0 0.6em;
    line-height: 1;
}


section, main, footer {
    // padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 0;
    max-width: 40ch;
}

a {
    text-decoration: none;
    color: $clr1;
    font-weight: 700;
}
a:hover {
    color: $clr3;
}

div{
    margin: 0%;
}