.container {
    max-width: 1400px;
    // padding: 10px;
}

.main-container {
    // display: grid;
    // grid-template-columns: 20px 1fr 20px;

    // > * {
    //     grid-column: 2;

    //     &.full {
    //         grid-column: 1 /-1;
    //     }
    // }

    // @include for-narrow-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $mobile-breakpoint)
    //         minmax(20px, 1fr);
    // }
    // @include for-normal-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $narrow-breakpoint)
    //         minmax(20px, 1fr);
    // }
    // @include for-wide-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $normal-breakpoint)
    //         minmax(20px, 1fr);
    // }
}

.gigs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.margin{
display: grid;
grid-template-columns: minmax(24px,1fr) minmax(auto,1240px) minmax(24px,1fr);
}

.main-layout > .full {
    grid-column: 1/-1;
}

.app-container:not(.full){
    padding: 30px;
}

.app-container > *{
    margin-bottom: 30px;
}

@media (max-width: 1150px){
    .pad-inline{
        padding-inline: 30px;
    }
}

@media (min-width: 1151px){
    .pad-inline{
        padding-inline: auto;
    }
}