@font-face {
    // font-family: caveat;
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: macan-light;
    src: url('@/assets/fonts/macan-light.ttf') ;
}

@font-face {
    font-family: macan;
    src: url('@/assets/fonts/macan-regular.woff2') ;
}

@font-face {
    font-family: macan-semi;
    src: url('@/assets/fonts/macan-semibold.woff2') ;
}

@font-face {
    font-family: macan-bold;
    src: url('@/assets/fonts/macan-bold.ttf') ;
}

@font-face {
    font-family: courgette;
    src: url('@/assets/fonts/Courgette-Regular.ttf') ;
}

@font-face {
    font-family: chunk-five;
    src: url('@/assets/fonts/Chunk-Five-Print.otf') ;
}
@font-face {
    font-family: chunk;
    src: url('@/assets/fonts/ChunkFive-Regular.otf') ;
}
