// Colors
$clr1: #62646a;
$clr2: #62646a;
$clr3: #1dbf73;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// $clr1: #1dbf73;
// $clr2: #404145;
// $clr3: #fdfaf9;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;